{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "camelcase": 0,
    "jsx-a11y/anchor-is-valid": "off",
    "space-before-function-paren": "off",
    "react/forbid-prop-types": false,
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "warn",
    "arrow-body-style": "off",
    "no-console": "off",
    "no-underscore-dangle": 0,
    "comma-dangle": 0,
    "quotes": 0,
    "no-shadow": 0,
    "import/prefer-default-export": 0,
    "object-curly-newline": 0,
    "arrow-parens": 0,
    "no-return-assign": 0,
    "react/no-unused-state": 0,
    "no-useless-escape": 0,
    "no-cond-assign": 0,
    "jsx-a11y/alt-text": 0
  }
}